@import "variables.less";
@import "mixins.less";
@import "reset.less";
@import "scaffolding.less";
@import "grid.less";
@import "layouts.less";
@import "type.less";
@import "code.less";
@import "forms.less";
@import "tables.less";
@import "dropdowns.less";
@import "wells.less";
@import "component-animations.less";
@import "close.less";
@import "buttons.less";
@import "button-groups.less";
@import "alerts.less";
@import "navs.less";
@import "navbar.less";
@import "breadcrumbs.less";
@import "pagination.less";
@import "pager.less";
@import "modals.less";
@import "tooltip.less";
@import "popovers.less";
@import "thumbnails.less";
@import "media.less";
@import "labels-badges.less";
@import "progress-bars.less";
@import "accordion.less";
@import "carousel.less";
@import "hero-unit.less";
@import "utilities.less";
@font-face {
  font-family: 'Elusive-Icons';
  src: url('../elusive-font/font/Elusive-Icons.eot');
  src: url('../elusive-font/font/Elusive-Icons.eot?#iefix') format('embedded-opentype'), url('../elusive-font/font/Elusive-Icons.svg#Elusive-Icons') format('svg'), url('../elusive-font/font/Elusive-Icons.woff') format('woff'), url('../elusive-font/font/Elusive-Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'Elusive-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'Elusive-Icons';
  font-weight: normal;
  font-style: normal;
  speak: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
.icon-large:before {
  vertical-align: middle;
  font-size: 1.33em;
}
.btn [class^="icon-"],
.btn [class*=" icon-"],
.nav-tabs [class^="icon-"],
.nav-tabs [class*=" icon-"] {
  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large:before,
li .icon-large:before {
  width: 1.875em;
}
ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -0.8em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .8em;
}
ul.icons li .icon-large:before,
ul.icons li .icon-large:before {
  vertical-align: initial;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 0;
}
.icon-zoom-out:before {
  content: "\e000";
}
.icon-zoom-in:before {
  content: "\e001";
}
.icon-youtube:before {
  content: "\e002";
}
.icon-wrench-alt:before {
  content: "\e003";
}
.icon-wrench:before {
  content: "\e004";
}
.icon-wordpress:before {
  content: "\e005";
}
.icon-wheelchair:before {
  content: "\e006";
}
.icon-website-alt:before {
  content: "\e007";
}
.icon-website:before {
  content: "\e008";
}
.icon-warning-sign:before {
  content: "\e009";
}
.icon-w3c:before {
  content: "\e00a";
}
.icon-volume-up:before {
  content: "\e00b";
}
.icon-volume-off:before {
  content: "\e00c";
}
.icon-volume-down:before {
  content: "\e00d";
}
.icon-vimeo:before {
  content: "\e00e";
}
.icon-view-mode:before {
  content: "\e00f";
}
.icon-video-chat:before {
  content: "\e010";
}
.icon-video-alt:before {
  content: "\e011";
}
.icon-video:before {
  content: "\e012";
}
.icon-user:before {
  content: "\e013";
}
.icon-upload:before {
  content: "\e014";
}
.icon-unlock-alt:before {
  content: "\e015";
}
.icon-unlock:before {
  content: "\e016";
}
.icon-universal-access:before {
  content: "\e017";
}
.icon-twitter:before {
  content: "\e018";
}
.icon-tumblr:before {
  content: "\e019";
}
.icon-trash-alt:before {
  content: "\e01a";
}
.icon-trash:before {
  content: "\e01b";
}
.icon-torso:before {
  content: "\e01c";
}
.icon-tint:before {
  content: "\e01d";
}
.icon-time-alt:before {
  content: "\e01e";
}
.icon-time:before {
  content: "\e01f";
}
.icon-thumbs-up:before {
  content: "\e020";
}
.icon-thumbs-down:before {
  content: "\e021";
}
.icon-th-list:before {
  content: "\e022";
}
.icon-th-large:before {
  content: "\e023";
}
.icon-th:before {
  content: "\e024";
}
.icon-text-width:before {
  content: "\e025";
}
.icon-text-height:before {
  content: "\e026";
}
.icon-tasks:before {
  content: "\e027";
}
.icon-tags:before {
  content: "\e028";
}
.icon-tag:before {
  content: "\e029";
}
.icon-stumbleupon:before {
  content: "\e02a";
}
.icon-stop-alt:before {
  content: "\e02b";
}
.icon-stop:before {
  content: "\e02c";
}
.icon-step-forward:before {
  content: "\e02d";
}
.icon-step-backward:before {
  content: "\e02e";
}
.icon-star-empty:before {
  content: "\e02f";
}
.icon-star-alt:before {
  content: "\e030";
}
.icon-star:before {
  content: "\e031";
}
.icon-stackoverflow:before {
  content: "\e032";
}
.icon-speaker:before {
  content: "\e033";
}
.icon-smiley-alt:before {
  content: "\e034";
}
.icon-smiley:before {
  content: "\e035";
}
.icon-slideshare:before {
  content: "\e036";
}
.icon-skype:before {
  content: "\e037";
}
.icon-signal:before {
  content: "\e038";
}
.icon-shopping-cart-sign:before {
  content: "\e039";
}
.icon-shopping-cart:before {
  content: "\e03a";
}
.icon-share-alt:before {
  content: "\e03b";
}
.icon-share:before {
  content: "\e03c";
}
.icon-search-alt:before {
  content: "\e03d";
}
.icon-search:before {
  content: "\e03e";
}
.icon-screenshot:before {
  content: "\e03f";
}
.icon-screen-alt:before {
  content: "\e040";
}
.icon-screen:before {
  content: "\e041";
}
.icon-rss:before {
  content: "\e042";
}
.icon-road:before {
  content: "\e043";
}
.icon-reverse-alt:before {
  content: "\e044";
}
.icon-retweet:before {
  content: "\e045";
}
.icon-resize-vertical:before {
  content: "\e046";
}
.icon-resize-small:before {
  content: "\e047";
}
.icon-resize-horizontal:before {
  content: "\e048";
}
.icon-resize-full:before {
  content: "\e049";
}
.icon-repeat-alt:before {
  content: "\e04a";
}
.icon-repeat:before {
  content: "\e04b";
}
.icon-remove-sign:before {
  content: "\e04c";
}
.icon-remove-circle:before {
  content: "\e04d";
}
.icon-remove:before {
  content: "\e04e";
}
.icon-refresh:before {
  content: "\e04f";
}
.icon-reddit:before {
  content: "\e050";
}
.icon-record:before {
  content: "\e051";
}
.icon-random:before {
  content: "\e052";
}
.icon-quotes-alt:before {
  content: "\e053";
}
.icon-quotes:before {
  content: "\e054";
}
.icon-question-sign:before {
  content: "\e055";
}
.icon-question:before {
  content: "\e056";
}
.icon-qrcode:before {
  content: "\e057";
}
.icon-print:before {
  content: "\e058";
}
.icon-plus-sign:before {
  content: "\e059";
}
.icon-plus:before {
  content: "\e05a";
}
.icon-play-circle:before {
  content: "\e05b";
}
.icon-play-alt:before {
  content: "\e05c";
}
.icon-play:before {
  content: "\e05d";
}
.icon-plane:before {
  content: "\e05e";
}
.icon-pinterest:before {
  content: "\e05f";
}
.icon-picture:before {
  content: "\e060";
}
.icon-picasa:before {
  content: "\e061";
}
.icon-photo-alt:before {
  content: "\e062";
}
.icon-photo:before {
  content: "\e063";
}
.icon-phone-alt:before {
  content: "\e064";
}
.icon-phone:before {
  content: "\e065";
}
.icon-person:before {
  content: "\e066";
}
.icon-pencil-alt:before {
  content: "\e067";
}
.icon-pencil:before {
  content: "\e068";
}
.icon-pause-alt:before {
  content: "\e069";
}
.icon-pause:before {
  content: "\e06a";
}
.icon-path:before {
  content: "\e06b";
}
.icon-paper-clip-alt:before {
  content: "\e06c";
}
.icon-paper-clip:before {
  content: "\e06d";
}
.icon-ok-sign:before {
  content: "\e06e";
}
.icon-ok-circle:before {
  content: "\e06f";
}
.icon-ok:before {
  content: "\e070";
}
.icon-off:before {
  content: "\e071";
}
.icon-network:before {
  content: "\e072";
}
.icon-music:before {
  content: "\e073";
}
.icon-move:before {
  content: "\e074";
}
.icon-minus-sign:before {
  content: "\e075";
}
.icon-minus:before {
  content: "\e076";
}
.icon-mic-alt:before {
  content: "\e077";
}
.icon-mic:before {
  content: "\e078";
}
.icon-map-marker-alt:before {
  content: "\e079";
}
.icon-map-marker:before {
  content: "\e07a";
}
.icon-male:before {
  content: "\e07b";
}
.icon-magnet:before {
  content: "\e07c";
}
.icon-lock-alt:before {
  content: "\e07d";
}
.icon-lock:before {
  content: "\e07e";
}
.icon-list-alt:before {
  content: "\e07f";
}
.icon-list:before {
  content: "\e080";
}
.icon-linkedin:before {
  content: "\e081";
}
.icon-leaf:before {
  content: "\e082";
}
.icon-laptop-alt:before {
  content: "\e083";
}
.icon-laptop:before {
  content: "\e084";
}
.icon-key:before {
  content: "\e085";
}
.icon-italic:before {
  content: "\e086";
}
.icon-iphone-home:before {
  content: "\e087";
}
.icon-instagram:before {
  content: "\e088";
}
.icon-info-sign:before {
  content: "\e089";
}
.icon-indent-right:before {
  content: "\e08a";
}
.icon-indent-left:before {
  content: "\e08b";
}
.icon-hand-right:before {
  content: "\e08c";
}
.icon-hand-left:before {
  content: "\e08d";
}
.icon-hand-down:before {
  content: "\e08e";
}
.icon-guidedog:before {
  content: "\e08f";
}
.icon-group-alt:before {
  content: "\e090";
}
.icon-group:before {
  content: "\e091";
}
.icon-forward-alt:before {
  content: "\e092";
}
.icon-forward:before {
  content: "\e093";
}
.icon-fontsize:before {
  content: "\e094";
}
.icon-font:before {
  content: "\e095";
}
.icon-folder-sign:before {
  content: "\e096";
}
.icon-folder-open:before {
  content: "\e097";
}
.icon-female:before {
  content: "\e098";
}
.icon-fast-forward:before {
  content: "\e099";
}
.icon-fast-backward:before {
  content: "\e09a";
}
.icon-facetime-video:before {
  content: "\e09b";
}
.icon-facebook:before {
  content: "\e09c";
}
.icon-eye-open:before {
  content: "\e09d";
}
.icon-dashboard:before {
  content: "\e09e";
}
.icon-css:before {
  content: "\e09f";
}
.icon-credit-card:before {
  content: "\e0a0";
}
.icon-compass-alt:before {
  content: "\e0a1";
}
.icon-compass:before {
  content: "\e0a2";
}
.icon-comment-alt:before {
  content: "\e0a3";
}
.icon-chevron-down:before {
  content: "\e0a4";
}
.icon-check-empty:before {
  content: "\e0a5";
}
.icon-check:before {
  content: "\e0a6";
}
.icon-certificate:before {
  content: "\e0a7";
}
.icon-cc:before {
  content: "\e0a8";
}
.icon-camera:before {
  content: "\e0a9";
}
.icon-ban-circle:before {
  content: "\e0aa";
}
.icon-backward:before {
  content: "\e0ab";
}
.icon-asterisk:before {
  content: "\e0ac";
}
.icon-asl:before {
  content: "\e0ad";
}
.icon-arrow-up:before {
  content: "\e0ae";
}
.icon-arrow-right:before {
  content: "\e0af";
}
.icon-heart-alt:before {
  content: "\e0b0";
}
.icon-heart:before {
  content: "\e0b1";
}
.icon-hearing-impaired:before {
  content: "\e0b2";
}
.icon-headphones:before {
  content: "\e0b3";
}
.icon-hdd:before {
  content: "\e0b4";
}
.icon-hand-up:before {
  content: "\e0b5";
}
.icon-github:before {
  content: "\e0b6";
}
.icon-gift:before {
  content: "\e0b7";
}
.icon-fullscreen:before {
  content: "\e0b8";
}
.icon-friendfeed-rect:before {
  content: "\e0b9";
}
.icon-friendfeed:before {
  content: "\e0ba";
}
.icon-foursquare:before {
  content: "\e0bb";
}
.icon-file-new-alt:before {
  content: "\e0bc";
}
.icon-file-new:before {
  content: "\e0bd";
}
.icon-file-edit-alt:before {
  content: "\e0be";
}
.icon-file-edit:before {
  content: "\e0bf";
}
.icon-file-alt:before {
  content: "\e0c0";
}
.icon-file:before {
  content: "\e0c1";
}
.icon-dribble:before {
  content: "\e0c2";
}
.icon-download-alt:before {
  content: "\e0c3";
}
.icon-download:before {
  content: "\e0c4";
}
.icon-digg:before {
  content: "\e0c5";
}
.icon-deviantart:before {
  content: "\e0c6";
}
.icon-delicious:before {
  content: "\e0c7";
}
.icon-circle-arrow-left:before {
  content: "\e0c8";
}
.icon-circle-arrow-down:before {
  content: "\e0c9";
}
.icon-child:before {
  content: "\e0ca";
}
.icon-chevron-up:before {
  content: "\e0cb";
}
.icon-chevron-right:before {
  content: "\e0cc";
}
.icon-chevron-left:before {
  content: "\e0cd";
}
.icon-bold:before {
  content: "\e0ce";
}
.icon-blogger:before {
  content: "\e0cf";
}
.icon-blind:before {
  content: "\e0d0";
}
.icon-bell:before {
  content: "\e0d1";
}
.icon-behance:before {
  content: "\e0d2";
}
.icon-barcode:before {
  content: "\e0d3";
}
.icon-arrow-left:before {
  content: "\e0d4";
}
.icon-arrow-down:before {
  content: "\e0d5";
}
.icon-align-right:before {
  content: "\e0d6";
}
.icon-align-left:before {
  content: "\e0d7";
}
.icon-align-justify:before {
  content: "\e0d8";
}
.icon-align-center:before {
  content: "\e0d9";
}
.icon-adult:before {
  content: "\e0da";
}
.icon-adjust:before {
  content: "\e0db";
}
.icon-address-book-alt:before {
  content: "\e0dc";
}
.icon-address-book:before {
  content: "\e0dd";
}
.icon-idea:before {
  content: "\e0de";
}
.icon-home-alt:before {
  content: "\e0df";
}
.icon-home:before {
  content: "\e0e0";
}
.icon-heart-empty:before {
  content: "\e0e1";
}
.icon-globe:before {
  content: "\e0e2";
}
.icon-glasses:before {
  content: "\e0e3";
}
.icon-glass:before {
  content: "\e0e4";
}
.icon-github-text:before {
  content: "\e0e5";
}
.icon-flag:before {
  content: "\e0e6";
}
.icon-fire:before {
  content: "\e0e7";
}
.icon-filter:before {
  content: "\e0e8";
}
.icon-film:before {
  content: "\e0e9";
}
.icon-envelope-alt:before {
  content: "\e0ea";
}
.icon-envelope:before {
  content: "\e0eb";
}
.icon-eject:before {
  content: "\e0ec";
}
.icon-edit:before {
  content: "\e0ed";
}
.icon-cloud-alt:before {
  content: "\e0ee";
}
.icon-cloud:before {
  content: "\e0ef";
}
.icon-circle-arrow-up:before {
  content: "\e0f0";
}
.icon-circle-arrow-right:before {
  content: "\e0f1";
}
.icon-braille:before {
  content: "\e0f2";
}
.icon-bookmark-empty:before {
  content: "\e0f3";
}
.icon-bookmark:before {
  content: "\e0f4";
}
.icon-book:before {
  content: "\e0f5";
}
.icon-inbox-box:before {
  content: "\e0f6";
}
.icon-inbox-alt:before {
  content: "\e0f7";
}
.icon-inbox:before {
  content: "\e0f8";
}
.icon-idea-alt:before {
  content: "\e0f9";
}
.icon-graph-alt:before {
  content: "\e0fa";
}
.icon-graph:before {
  content: "\e0fb";
}
.icon-googleplus:before {
  content: "\e0fc";
}
.icon-globe-alt:before {
  content: "\e0fd";
}
.icon-folder-close:before {
  content: "\e0fe";
}
.icon-folder:before {
  content: "\e0ff";
}
.icon-flickr:before {
  content: "\e100";
}
.icon-flag-alt:before {
  content: "\e101";
}
.icon-eye-close:before {
  content: "\e102";
}
.icon-exclamation-sign:before {
  content: "\e103";
}
.icon-error-alt:before {
  content: "\e104";
}
.icon-error:before {
  content: "\e105";
}
.icon-comment:before {
  content: "\e106";
}
.icon-cogs:before {
  content: "\e107";
}
.icon-cog-alt:before {
  content: "\e108";
}
.icon-cog:before {
  content: "\e109";
}
.icon-calendar-sign:before {
  content: "\e10a";
}
.icon-calendar:before {
  content: "\e10b";
}
.icon-bullhorn:before {
  content: "\e10c";
}
.icon-briefcase:before {
  content: "\e10d";
}
@font-face {
  font-family: 'Elusive-Icons';
  src: url('../elusive-font/font/Elusive-Icons.eot');
  src: url('../elusive-font/font/Elusive-Icons.eot?#iefix') format('embedded-opentype'), url('../elusive-font/font/Elusive-Icons.svg#Elusive-Icons') format('svg'), url('../elusive-font/font/Elusive-Icons.woff') format('woff'), url('../elusive-font/font/Elusive-Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'Elusive-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'Elusive-Icons';
  font-weight: normal;
  font-style: normal;
  speak: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
.icon-large:before {
  vertical-align: middle;
  font-size: 1.33em;
}
.btn [class^="icon-"],
.btn [class*=" icon-"],
.nav-tabs [class^="icon-"],
.nav-tabs [class*=" icon-"] {
  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large:before,
li .icon-large:before {
  width: 1.875em;
}
ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -0.8em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .8em;
}
ul.icons li .icon-large:before,
ul.icons li .icon-large:before {
  vertical-align: initial;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 0;
}
.icon-zoom-out:before {
  content: "\e000";
}
.icon-zoom-in:before {
  content: "\e001";
}
.icon-youtube:before {
  content: "\e002";
}
.icon-wrench-alt:before {
  content: "\e003";
}
.icon-wrench:before {
  content: "\e004";
}
.icon-wordpress:before {
  content: "\e005";
}
.icon-wheelchair:before {
  content: "\e006";
}
.icon-website-alt:before {
  content: "\e007";
}
.icon-website:before {
  content: "\e008";
}
.icon-warning-sign:before {
  content: "\e009";
}
.icon-w3c:before {
  content: "\e00a";
}
.icon-volume-up:before {
  content: "\e00b";
}
.icon-volume-off:before {
  content: "\e00c";
}
.icon-volume-down:before {
  content: "\e00d";
}
.icon-vimeo:before {
  content: "\e00e";
}
.icon-view-mode:before {
  content: "\e00f";
}
.icon-video-chat:before {
  content: "\e010";
}
.icon-video-alt:before {
  content: "\e011";
}
.icon-video:before {
  content: "\e012";
}
.icon-user:before {
  content: "\e013";
}
.icon-upload:before {
  content: "\e014";
}
.icon-unlock-alt:before {
  content: "\e015";
}
.icon-unlock:before {
  content: "\e016";
}
.icon-universal-access:before {
  content: "\e017";
}
.icon-twitter:before {
  content: "\e018";
}
.icon-tumblr:before {
  content: "\e019";
}
.icon-trash-alt:before {
  content: "\e01a";
}
.icon-trash:before {
  content: "\e01b";
}
.icon-torso:before {
  content: "\e01c";
}
.icon-tint:before {
  content: "\e01d";
}
.icon-time-alt:before {
  content: "\e01e";
}
.icon-time:before {
  content: "\e01f";
}
.icon-thumbs-up:before {
  content: "\e020";
}
.icon-thumbs-down:before {
  content: "\e021";
}
.icon-th-list:before {
  content: "\e022";
}
.icon-th-large:before {
  content: "\e023";
}
.icon-th:before {
  content: "\e024";
}
.icon-text-width:before {
  content: "\e025";
}
.icon-text-height:before {
  content: "\e026";
}
.icon-tasks:before {
  content: "\e027";
}
.icon-tags:before {
  content: "\e028";
}
.icon-tag:before {
  content: "\e029";
}
.icon-stumbleupon:before {
  content: "\e02a";
}
.icon-stop-alt:before {
  content: "\e02b";
}
.icon-stop:before {
  content: "\e02c";
}
.icon-step-forward:before {
  content: "\e02d";
}
.icon-step-backward:before {
  content: "\e02e";
}
.icon-star-empty:before {
  content: "\e02f";
}
.icon-star-alt:before {
  content: "\e030";
}
.icon-star:before {
  content: "\e031";
}
.icon-stackoverflow:before {
  content: "\e032";
}
.icon-speaker:before {
  content: "\e033";
}
.icon-smiley-alt:before {
  content: "\e034";
}
.icon-smiley:before {
  content: "\e035";
}
.icon-slideshare:before {
  content: "\e036";
}
.icon-skype:before {
  content: "\e037";
}
.icon-signal:before {
  content: "\e038";
}
.icon-shopping-cart-sign:before {
  content: "\e039";
}
.icon-shopping-cart:before {
  content: "\e03a";
}
.icon-share-alt:before {
  content: "\e03b";
}
.icon-share:before {
  content: "\e03c";
}
.icon-search-alt:before {
  content: "\e03d";
}
.icon-search:before {
  content: "\e03e";
}
.icon-screenshot:before {
  content: "\e03f";
}
.icon-screen-alt:before {
  content: "\e040";
}
.icon-screen:before {
  content: "\e041";
}
.icon-rss:before {
  content: "\e042";
}
.icon-road:before {
  content: "\e043";
}
.icon-reverse-alt:before {
  content: "\e044";
}
.icon-retweet:before {
  content: "\e045";
}
.icon-resize-vertical:before {
  content: "\e046";
}
.icon-resize-small:before {
  content: "\e047";
}
.icon-resize-horizontal:before {
  content: "\e048";
}
.icon-resize-full:before {
  content: "\e049";
}
.icon-repeat-alt:before {
  content: "\e04a";
}
.icon-repeat:before {
  content: "\e04b";
}
.icon-remove-sign:before {
  content: "\e04c";
}
.icon-remove-circle:before {
  content: "\e04d";
}
.icon-remove:before {
  content: "\e04e";
}
.icon-refresh:before {
  content: "\e04f";
}
.icon-reddit:before {
  content: "\e050";
}
.icon-record:before {
  content: "\e051";
}
.icon-random:before {
  content: "\e052";
}
.icon-quotes-alt:before {
  content: "\e053";
}
.icon-quotes:before {
  content: "\e054";
}
.icon-question-sign:before {
  content: "\e055";
}
.icon-question:before {
  content: "\e056";
}
.icon-qrcode:before {
  content: "\e057";
}
.icon-print:before {
  content: "\e058";
}
.icon-plus-sign:before {
  content: "\e059";
}
.icon-plus:before {
  content: "\e05a";
}
.icon-play-circle:before {
  content: "\e05b";
}
.icon-play-alt:before {
  content: "\e05c";
}
.icon-play:before {
  content: "\e05d";
}
.icon-plane:before {
  content: "\e05e";
}
.icon-pinterest:before {
  content: "\e05f";
}
.icon-picture:before {
  content: "\e060";
}
.icon-picasa:before {
  content: "\e061";
}
.icon-photo-alt:before {
  content: "\e062";
}
.icon-photo:before {
  content: "\e063";
}
.icon-phone-alt:before {
  content: "\e064";
}
.icon-phone:before {
  content: "\e065";
}
.icon-person:before {
  content: "\e066";
}
.icon-pencil-alt:before {
  content: "\e067";
}
.icon-pencil:before {
  content: "\e068";
}
.icon-pause-alt:before {
  content: "\e069";
}
.icon-pause:before {
  content: "\e06a";
}
.icon-path:before {
  content: "\e06b";
}
.icon-paper-clip-alt:before {
  content: "\e06c";
}
.icon-paper-clip:before {
  content: "\e06d";
}
.icon-ok-sign:before {
  content: "\e06e";
}
.icon-ok-circle:before {
  content: "\e06f";
}
.icon-ok:before {
  content: "\e070";
}
.icon-off:before {
  content: "\e071";
}
.icon-network:before {
  content: "\e072";
}
.icon-music:before {
  content: "\e073";
}
.icon-move:before {
  content: "\e074";
}
.icon-minus-sign:before {
  content: "\e075";
}
.icon-minus:before {
  content: "\e076";
}
.icon-mic-alt:before {
  content: "\e077";
}
.icon-mic:before {
  content: "\e078";
}
.icon-map-marker-alt:before {
  content: "\e079";
}
.icon-map-marker:before {
  content: "\e07a";
}
.icon-male:before {
  content: "\e07b";
}
.icon-magnet:before {
  content: "\e07c";
}
.icon-lock-alt:before {
  content: "\e07d";
}
.icon-lock:before {
  content: "\e07e";
}
.icon-list-alt:before {
  content: "\e07f";
}
.icon-list:before {
  content: "\e080";
}
.icon-linkedin:before {
  content: "\e081";
}
.icon-leaf:before {
  content: "\e082";
}
.icon-laptop-alt:before {
  content: "\e083";
}
.icon-laptop:before {
  content: "\e084";
}
.icon-key:before {
  content: "\e085";
}
.icon-italic:before {
  content: "\e086";
}
.icon-iphone-home:before {
  content: "\e087";
}
.icon-instagram:before {
  content: "\e088";
}
.icon-info-sign:before {
  content: "\e089";
}
.icon-indent-right:before {
  content: "\e08a";
}
.icon-indent-left:before {
  content: "\e08b";
}
.icon-hand-right:before {
  content: "\e08c";
}
.icon-hand-left:before {
  content: "\e08d";
}
.icon-hand-down:before {
  content: "\e08e";
}
.icon-guidedog:before {
  content: "\e08f";
}
.icon-group-alt:before {
  content: "\e090";
}
.icon-group:before {
  content: "\e091";
}
.icon-forward-alt:before {
  content: "\e092";
}
.icon-forward:before {
  content: "\e093";
}
.icon-fontsize:before {
  content: "\e094";
}
.icon-font:before {
  content: "\e095";
}
.icon-folder-sign:before {
  content: "\e096";
}
.icon-folder-open:before {
  content: "\e097";
}
.icon-female:before {
  content: "\e098";
}
.icon-fast-forward:before {
  content: "\e099";
}
.icon-fast-backward:before {
  content: "\e09a";
}
.icon-facetime-video:before {
  content: "\e09b";
}
.icon-facebook:before {
  content: "\e09c";
}
.icon-eye-open:before {
  content: "\e09d";
}
.icon-dashboard:before {
  content: "\e09e";
}
.icon-css:before {
  content: "\e09f";
}
.icon-credit-card:before {
  content: "\e0a0";
}
.icon-compass-alt:before {
  content: "\e0a1";
}
.icon-compass:before {
  content: "\e0a2";
}
.icon-comment-alt:before {
  content: "\e0a3";
}
.icon-chevron-down:before {
  content: "\e0a4";
}
.icon-check-empty:before {
  content: "\e0a5";
}
.icon-check:before {
  content: "\e0a6";
}
.icon-certificate:before {
  content: "\e0a7";
}
.icon-cc:before {
  content: "\e0a8";
}
.icon-camera:before {
  content: "\e0a9";
}
.icon-ban-circle:before {
  content: "\e0aa";
}
.icon-backward:before {
  content: "\e0ab";
}
.icon-asterisk:before {
  content: "\e0ac";
}
.icon-asl:before {
  content: "\e0ad";
}
.icon-arrow-up:before {
  content: "\e0ae";
}
.icon-arrow-right:before {
  content: "\e0af";
}
.icon-heart-alt:before {
  content: "\e0b0";
}
.icon-heart:before {
  content: "\e0b1";
}
.icon-hearing-impaired:before {
  content: "\e0b2";
}
.icon-headphones:before {
  content: "\e0b3";
}
.icon-hdd:before {
  content: "\e0b4";
}
.icon-hand-up:before {
  content: "\e0b5";
}
.icon-github:before {
  content: "\e0b6";
}
.icon-gift:before {
  content: "\e0b7";
}
.icon-fullscreen:before {
  content: "\e0b8";
}
.icon-friendfeed-rect:before {
  content: "\e0b9";
}
.icon-friendfeed:before {
  content: "\e0ba";
}
.icon-foursquare:before {
  content: "\e0bb";
}
.icon-file-new-alt:before {
  content: "\e0bc";
}
.icon-file-new:before {
  content: "\e0bd";
}
.icon-file-edit-alt:before {
  content: "\e0be";
}
.icon-file-edit:before {
  content: "\e0bf";
}
.icon-file-alt:before {
  content: "\e0c0";
}
.icon-file:before {
  content: "\e0c1";
}
.icon-dribble:before {
  content: "\e0c2";
}
.icon-download-alt:before {
  content: "\e0c3";
}
.icon-download:before {
  content: "\e0c4";
}
.icon-digg:before {
  content: "\e0c5";
}
.icon-deviantart:before {
  content: "\e0c6";
}
.icon-delicious:before {
  content: "\e0c7";
}
.icon-circle-arrow-left:before {
  content: "\e0c8";
}
.icon-circle-arrow-down:before {
  content: "\e0c9";
}
.icon-child:before {
  content: "\e0ca";
}
.icon-chevron-up:before {
  content: "\e0cb";
}
.icon-chevron-right:before {
  content: "\e0cc";
}
.icon-chevron-left:before {
  content: "\e0cd";
}
.icon-bold:before {
  content: "\e0ce";
}
.icon-blogger:before {
  content: "\e0cf";
}
.icon-blind:before {
  content: "\e0d0";
}
.icon-bell:before {
  content: "\e0d1";
}
.icon-behance:before {
  content: "\e0d2";
}
.icon-barcode:before {
  content: "\e0d3";
}
.icon-arrow-left:before {
  content: "\e0d4";
}
.icon-arrow-down:before {
  content: "\e0d5";
}
.icon-align-right:before {
  content: "\e0d6";
}
.icon-align-left:before {
  content: "\e0d7";
}
.icon-align-justify:before {
  content: "\e0d8";
}
.icon-align-center:before {
  content: "\e0d9";
}
.icon-adult:before {
  content: "\e0da";
}
.icon-adjust:before {
  content: "\e0db";
}
.icon-address-book-alt:before {
  content: "\e0dc";
}
.icon-address-book:before {
  content: "\e0dd";
}
.icon-idea:before {
  content: "\e0de";
}
.icon-home-alt:before {
  content: "\e0df";
}
.icon-home:before {
  content: "\e0e0";
}
.icon-heart-empty:before {
  content: "\e0e1";
}
.icon-globe:before {
  content: "\e0e2";
}
.icon-glasses:before {
  content: "\e0e3";
}
.icon-glass:before {
  content: "\e0e4";
}
.icon-github-text:before {
  content: "\e0e5";
}
.icon-flag:before {
  content: "\e0e6";
}
.icon-fire:before {
  content: "\e0e7";
}
.icon-filter:before {
  content: "\e0e8";
}
.icon-film:before {
  content: "\e0e9";
}
.icon-envelope-alt:before {
  content: "\e0ea";
}
.icon-envelope:before {
  content: "\e0eb";
}
.icon-eject:before {
  content: "\e0ec";
}
.icon-edit:before {
  content: "\e0ed";
}
.icon-cloud-alt:before {
  content: "\e0ee";
}
.icon-cloud:before {
  content: "\e0ef";
}
.icon-circle-arrow-up:before {
  content: "\e0f0";
}
.icon-circle-arrow-right:before {
  content: "\e0f1";
}
.icon-braille:before {
  content: "\e0f2";
}
.icon-bookmark-empty:before {
  content: "\e0f3";
}
.icon-bookmark:before {
  content: "\e0f4";
}
.icon-book:before {
  content: "\e0f5";
}
.icon-inbox-box:before {
  content: "\e0f6";
}
.icon-inbox-alt:before {
  content: "\e0f7";
}
.icon-inbox:before {
  content: "\e0f8";
}
.icon-idea-alt:before {
  content: "\e0f9";
}
.icon-graph-alt:before {
  content: "\e0fa";
}
.icon-graph:before {
  content: "\e0fb";
}
.icon-googleplus:before {
  content: "\e0fc";
}
.icon-globe-alt:before {
  content: "\e0fd";
}
.icon-folder-close:before {
  content: "\e0fe";
}
.icon-folder:before {
  content: "\e0ff";
}
.icon-flickr:before {
  content: "\e100";
}
.icon-flag-alt:before {
  content: "\e101";
}
.icon-eye-close:before {
  content: "\e102";
}
.icon-exclamation-sign:before {
  content: "\e103";
}
.icon-error-alt:before {
  content: "\e104";
}
.icon-error:before {
  content: "\e105";
}
.icon-comment:before {
  content: "\e106";
}
.icon-cogs:before {
  content: "\e107";
}
.icon-cog-alt:before {
  content: "\e108";
}
.icon-cog:before {
  content: "\e109";
}
.icon-calendar-sign:before {
  content: "\e10a";
}
.icon-calendar:before {
  content: "\e10b";
}
.icon-bullhorn:before {
  content: "\e10c";
}
.icon-briefcase:before {
  content: "\e10d";
}
@font-face {
  font-family: 'OpenWeb Icons';
  src: url("../font/openwebicons.eot");
  src: url("../font/openwebicons.eot?#iefix") format("embedded-opentype"), url("../font/openwebicons.woff") format("woff"), url("../font/openwebicons.ttf") format("truetype"), url("../font/openwebicons.svg#openweb_iconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
table {
  background-color: none;
  background-color: transparent;
}
.widefat {
  border: 0;
}
.widefat tr {
  border: 0;
}
.widefat tr td {
  border: 0;
}
input,
textarea {
  width: auto;
}
input[type="text"] {
  height: auto;
}
.button.media-button,
.wp-core-ui .button,
.wp-core-ui .button-primary,
#side-sortables #mp-single-statuses span.current,
#side-sortables #mp-single-statuses span a,
#wpadminbar #wp-admin-bar-top-secondary li#wp-admin-bar-pro-site a span,
.plugins a.delete,
#all-plugins-table .plugins a.delete,
#search-plugins-table .plugins a.delete,
.submitbox .submitdelete,
input.button-primary,
button.button-primary,
a.button-primary,
.button,
a.button,
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
.wrap .add-new-h2,
input.button,
input[type="file"].button,
input[type="image"].button,
input[type="submit"].button,
input[type="reset"].button,
input[type="button"].button {
  width: auto;
  height: auto;
}
.button.media-button [class^="icon-"],
.button.media-button [class*=" icon-"],
.wp-core-ui .button [class^="icon-"],
.wp-core-ui .button [class*=" icon-"],
.wp-core-ui .button-primary [class^="icon-"],
.wp-core-ui .button-primary [class*=" icon-"],
#side-sortables #mp-single-statuses span.current [class^="icon-"],
#side-sortables #mp-single-statuses span.current [class*=" icon-"],
#side-sortables #mp-single-statuses span a [class^="icon-"],
#side-sortables #mp-single-statuses span a [class*=" icon-"],
#wpadminbar #wp-admin-bar-top-secondary li#wp-admin-bar-pro-site a span [class^="icon-"],
#wpadminbar #wp-admin-bar-top-secondary li#wp-admin-bar-pro-site a span [class*=" icon-"],
.plugins a.delete [class^="icon-"],
.plugins a.delete [class*=" icon-"],
#all-plugins-table .plugins a.delete [class^="icon-"],
#all-plugins-table .plugins a.delete [class*=" icon-"],
#search-plugins-table .plugins a.delete [class^="icon-"],
#search-plugins-table .plugins a.delete [class*=" icon-"],
.submitbox .submitdelete [class^="icon-"],
.submitbox .submitdelete [class*=" icon-"],
input.button-primary [class^="icon-"],
input.button-primary [class*=" icon-"],
button.button-primary [class^="icon-"],
button.button-primary [class*=" icon-"],
a.button-primary [class^="icon-"],
a.button-primary [class*=" icon-"],
.button [class^="icon-"],
.button [class*=" icon-"],
a.button [class^="icon-"],
a.button [class*=" icon-"],
input[type="file"] [class^="icon-"],
input[type="file"] [class*=" icon-"],
input[type="image"] [class^="icon-"],
input[type="image"] [class*=" icon-"],
input[type="submit"] [class^="icon-"],
input[type="submit"] [class*=" icon-"],
input[type="reset"] [class^="icon-"],
input[type="reset"] [class*=" icon-"],
input[type="button"] [class^="icon-"],
input[type="button"] [class*=" icon-"],
.wrap .add-new-h2 [class^="icon-"],
.wrap .add-new-h2 [class*=" icon-"],
input.button [class^="icon-"],
input.button [class*=" icon-"],
input[type="file"].button [class^="icon-"],
input[type="file"].button [class*=" icon-"],
input[type="image"].button [class^="icon-"],
input[type="image"].button [class*=" icon-"],
input[type="submit"].button [class^="icon-"],
input[type="submit"].button [class*=" icon-"],
input[type="reset"].button [class^="icon-"],
input[type="reset"].button [class*=" icon-"],
input[type="button"].button [class^="icon-"],
input[type="button"].button [class*=" icon-"] {
  line-height: .9em;
}
.button.media-button [class^="icon-"],
.button.media-button [class*=" icon-"],
.wp-core-ui .button [class^="icon-"],
.wp-core-ui .button [class*=" icon-"],
.wp-core-ui .button-primary [class^="icon-"],
.wp-core-ui .button-primary [class*=" icon-"],
#side-sortables #mp-single-statuses span.current [class^="icon-"],
#side-sortables #mp-single-statuses span.current [class*=" icon-"],
#side-sortables #mp-single-statuses span a [class^="icon-"],
#side-sortables #mp-single-statuses span a [class*=" icon-"],
#wpadminbar #wp-admin-bar-top-secondary li#wp-admin-bar-pro-site a span [class^="icon-"],
#wpadminbar #wp-admin-bar-top-secondary li#wp-admin-bar-pro-site a span [class*=" icon-"],
.plugins a.delete [class^="icon-"],
.plugins a.delete [class*=" icon-"],
#all-plugins-table .plugins a.delete [class^="icon-"],
#all-plugins-table .plugins a.delete [class*=" icon-"],
#search-plugins-table .plugins a.delete [class^="icon-"],
#search-plugins-table .plugins a.delete [class*=" icon-"],
.submitbox .submitdelete [class^="icon-"],
.submitbox .submitdelete [class*=" icon-"],
input.button-primary [class^="icon-"],
input.button-primary [class*=" icon-"],
button.button-primary [class^="icon-"],
button.button-primary [class*=" icon-"],
a.button-primary [class^="icon-"],
a.button-primary [class*=" icon-"],
.button [class^="icon-"],
.button [class*=" icon-"],
a.button [class^="icon-"],
a.button [class*=" icon-"],
input[type="file"] [class^="icon-"],
input[type="file"] [class*=" icon-"],
input[type="image"] [class^="icon-"],
input[type="image"] [class*=" icon-"],
input[type="submit"] [class^="icon-"],
input[type="submit"] [class*=" icon-"],
input[type="reset"] [class^="icon-"],
input[type="reset"] [class*=" icon-"],
input[type="button"] [class^="icon-"],
input[type="button"] [class*=" icon-"],
.wrap .add-new-h2 [class^="icon-"],
.wrap .add-new-h2 [class*=" icon-"],
input.button [class^="icon-"],
input.button [class*=" icon-"],
input[type="file"].button [class^="icon-"],
input[type="file"].button [class*=" icon-"],
input[type="image"].button [class^="icon-"],
input[type="image"].button [class*=" icon-"],
input[type="submit"].button [class^="icon-"],
input[type="submit"].button [class*=" icon-"],
input[type="reset"].button [class^="icon-"],
input[type="reset"].button [class*=" icon-"],
input[type="button"].button [class^="icon-"],
input[type="button"].button [class*=" icon-"] {
  line-height: .9em;
}
.wp-core-ui .button-primary,
input.button-primary,
button.button-primary,
a.button-primary {
  padding: 4px 14px;
}
.plugins a.delete,
#all-plugins-table .plugins a.delete,
#search-plugins-table .plugins a.delete,
.submitbox .submitdelete,
.wrap .add-new-h2 {
  color: #fff !important;
}
#adminmenuback,
#adminmenushadow,
.wp-menu-arrow,
li.wp-menu-separator {
  display: none !important;
}
#adminmenuback,
#adminmenuwrap {
  top: 30px;
  background: none;
  background-color: none;
  border: 0;
  border: none;
  border-color: none;
}
#adminmenu li .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
  background: #fff;
}
#adminmenu {
  margin-top: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
#adminmenu li a.menu-top {
  font-weight: normal;
}
#adminmenu li.wp-has-submenu.wp-menu-open .wp-submenu {
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  margin: 0 -2px -1px;
}
#adminmenu li.menu-top a.menu-top {
  font-size: 14px;
}
#adminmenu li.menu-top:hover > a,
#adminmenu li.menu-top.focused > a,
#adminmenu li.menu-top > a:focus,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.current a.menu-top {
  background: #08c;
  color: #fff;
}
#adminmenu li.menu-top:hover > a,
#adminmenu li.menu-top.focused > a,
#adminmenu li.menu-top > a:focus,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.current a.menu-top {
  border-top-color: #e5e5e5;
  border-right-color: #08c;
}
#adminmenu > li > a.menu-top {
  border: 1px solid #E5E5E5;
  margin: 0 0 -1px;
}
#adminmenu > li:first-child > a.menu-top {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
#adminmenu > li:last-child {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  border: 1px solid #e5e5e5;
}
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
  background: #08c;
  border-top-color: #e5e5e5;
  border-right-color: #08c;
  text-shadow: none;
  text-shadow: 0;
}
#adminmenu h3.popover-title div.wp-menu-image {
  height: 15px;
}
#adminmenu h3.popover-title .wp-menu-name {
  padding: 0;
}
.widefat th#thumbnail {
  width: 90px !important;
}
th#stock.column-stock {
  width: 95px !important;
}
th#sales.column-sales {
  width: 95px !important;
}
body.folded .wp-menu-image {
  display: block;
}
#product_category-adder h4 {
  font-size: 15px;
}
#adminmenu li.menu-top.wp-not-current-submenu .wp-submenu {
  display: none !important;
}
#adminmenu li.menu-top.wp-not-current-submenu li a {
  padding-left: 0;
}
#adminmenu li.menu-top.wp-not-current-submenu li a:hover {
  color: #333;
}
.hidden {
  visibility: visible;
}
.postbox {
  padding: 30px 10px 20px 10px;
  margin-bottom: 20px;
  background: #f8f8f8;
}
.postbox .hndle {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 14px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
  line-height: 16px;
}
.postbox .handlediv {
  position: absolute;
  top: 2px;
  right: 0;
}
.postbox.closed .hndle {
  top: 0;
  left: 0;
}
.postbox h3 {
  font-size: 13px;
}
.widget-holder .widget-title h4,
.widget-title h4 {
  font-size: 14px;
  font-weight: normal;
}
.metabox-holder h3 {
  font-size: 13px;
}
#post-body.columns-2 #postbox-container-1 {
  margin-right: -320px;
  width: 300px;
}
#poststuff #post-body.columns-2 {
  margin-right: 320px;
}
li#wp-admin-bar-psts-status a {
  color: #f89406;
}
li#wp-admin-bar-psts-status:hover a,
li#wp-admin-bar-psts-status a:hover {
  color: #df8505;
}
#wpadminbar li#wp-admin-bar-pro-site {
  margin-top: -2px;
}
.wp-list-table.widefat.plugins .active {
  background: #fff !important;
  color: #333 !important;
}
ul.subsubsub li.active {
  background: none !important;
  background: transparent !important;
}
ul.subsubsub li.active a {
  color: #5bb75b;
}
.widefat tr.status-order_received td a.mp_order_status,
.widefat tr.status-order_paid td a.mp_order_status,
.widefat tr.status-order_shipped td a.mp_order_status {
  background: none !important;
}
.widefat a.mp_order_status {
  padding-left: 0 !important;
}
#side-sortables #mp-single-statuses {
  color: #fff;
  font-size: 1px;
}
#side-sortables #mp-single-statuses span.received,
#side-sortables #mp-single-statuses span.paid,
#side-sortables #mp-single-statuses span.shipped,
#side-sortables #mp-single-statuses span.closed {
  font-size: 12px;
  color: #333;
  text-align: center;
  display: block;
  width: 100%;
}
body,
div.sidebar-name h3,
#menu-management .nav-tab,
#dashboard_plugins h5,
a.rsswidget,
#dashboard_right_now td.b,
#dashboard-widgets h4,
.tool-box .title,
#poststuff h3,
.metabox-holder h3,
.pressthis a,
#your-profile legend,
.inline-edit-row fieldset span.title,
.inline-edit-row fieldset span.checkbox-title,
.tablenav .displaying-num,
.widefat th,
.quicktags,
.search {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: auto;
  min-height: 20px;
}
#mp-target-countries br {
  display: none;
}
.chzn-search input[type="text"] {
  width: 100% !important;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: auto;
  min-height: 20px;
  width: auto;
}
label {
  display: inline-block;
}
.attachments-browser .attachments .thumbnail,
.selection-view .attachments .thumbnail {
  padding: 0;
  border: 0;
}
#category-adder h4 a {
  font-weight: normal;
}
#category-adder h4 a [class^="icon-"],
#category-adder h4 a [class*=" icon-"] {
  line-height: .9em;
}
#category-adder h4 a [class^="icon-"],
#category-adder h4 a [class*=" icon-"] {
  line-height: .9em;
}
.tagsdiv .tagchecklist span {
  background: none;
  padding: 0;
  white-space: normal;
  background: #468847;
  margin-right: 5px;
  position: relative;
  padding-left: 15px;
}
.tagsdiv .tagchecklist span a {
  position: absolute;
  left: 4px;
  color: #468847;
  display: block;
  background: none;
  margin: 0;
  width: 15px;
  height: 15px;
  text-indent: 0px;
}
.tagsdiv .tagchecklist span a:before {
  color: #fff;
  font-family: 'Elusive-Icons';
  content: "\e04e";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
}
.tagsdiv .tagchecklist span a:hover:before {
  content: "\e04c";
}
p.the-tagcloud a {
  background: none;
  padding: 0;
  white-space: normal;
  background: #3A87AD;
  text-decoration: none;
}
#postimagediv a#set-post-thumbnail [class^="icon-"],
#postimagediv a#set-post-thumbnail [class*=" icon-"] {
  line-height: .9em;
}
#postimagediv a#set-post-thumbnail [class^="icon-"],
#postimagediv a#set-post-thumbnail [class*=" icon-"] {
  line-height: .9em;
}
.plugins .inactive td,
.plugins .inactive th,
.plugins .active td,
.plugins .active th {
  border-color: #dedede;
  border-bottom: 0;
}
.search-box input[name="s"],
#search-plugins input[name="s"] {
  float: none;
  height: auto;
}
div.sidebar-name h3 {
  line-height: 15px;
}
.icon32.fonticon {
  margin: 16px 8px 0 0;
}
.updated.fade,
.error.fade {
  opacity: 1;
}
.wp-menu-name {
  text-shadow: none;
}
.wp-menu-image:before {
  text-shadow: none;
  color: #333;
}
a.wp-menu-open .wp-menu-image:before,
.current .wp-menu-image:before {
  color: #fff;
}
.menu-icon-dashboard .wp-menu-image,
.menu-icon-post .wp-menu-image,
.menu-icon-page .wp-menu-image,
.menu-icon-media .wp-menu-image,
.menu-icon-links .wp-menu-image,
.menu-icon-comments .wp-menu-image,
.menu-icon-appearance .wp-menu-image,
.menu-icon-plugins .wp-menu-image,
.menu-icon-users .wp-menu-image,
.menu-icon-tools .wp-menu-image,
.menu-icon-settings .wp-menu-image,
.menu-icon-product .wp-menu-image,
.menu-top.toplevel_page_wpmudev .wp-menu-image,
.menu-top.toplevel_page_incsub_support .wp-menu-image,
.menu-icon-site .wp-menu-image,
.menu-top.toplevel_page_psts-checkout .wp-menu-image,
.menu-top.toplevel_page_cp_main .wp-menu-image,
.menu-top.toplevel_page_mp_st .wp-menu-image,
.menu-top.toplevel_page_customize .wp-menu-image,
.menu-top.toplevel_page_tools .wp-menu-image,
.menu-top.toplevel_page_logout .wp-menu-image,
.menu-top.toplevel_page_business_tools .wp-menu-image,
.menu-top.toplevel_page_jetpack .wp-menu-image,
.menu-icon-feedback .wp-menu-image,
.menu-top.toplevel_page_wpcf7 .wp-menu-image,
.menu-top.toplevel_page_newsletter .wp-menu-image,
.menu-top.toplevel_page_nrelate-main .wp-menu-image,
.menu-top.toplevel_page_wdfb .wp-menu-image,
.menu-icon-forum .wp-menu-image,
.menu-icon-topic .wp-menu-image,
.menu-icon-reply .wp-menu-image,
#menu-posts-download .wp-menu-image,
.menu-top.toplevel_page_sam-list .wp-menu-image,
.menu-top.toplevel_page_wpseo_dashboard .wp-menu-image,
.menu-top.toplevel_page_Wordfence .wp-menu-image,
#toplevel_page_edit-post_type-acf .wp-menu-image {
  background-image: none !important;
  position: absolute;
  top: 8px;
  left: 7px;
}
.menu-icon-dashboard .wp-menu-image:before,
.menu-icon-post .wp-menu-image:before,
.menu-icon-page .wp-menu-image:before,
.menu-icon-media .wp-menu-image:before,
.menu-icon-links .wp-menu-image:before,
.menu-icon-comments .wp-menu-image:before,
.menu-icon-appearance .wp-menu-image:before,
.menu-icon-plugins .wp-menu-image:before,
.menu-icon-users .wp-menu-image:before,
.menu-icon-tools .wp-menu-image:before,
.menu-icon-settings .wp-menu-image:before,
.menu-icon-product .wp-menu-image:before,
.menu-top.toplevel_page_wpmudev .wp-menu-image:before,
.menu-top.toplevel_page_incsub_support .wp-menu-image:before,
.menu-icon-site .wp-menu-image:before,
.menu-top.toplevel_page_psts-checkout .wp-menu-image:before,
.menu-top.toplevel_page_cp_main .wp-menu-image:before,
.menu-top.toplevel_page_mp_st .wp-menu-image:before,
.menu-top.toplevel_page_customize .wp-menu-image:before,
.menu-top.toplevel_page_tools .wp-menu-image:before,
.menu-top.toplevel_page_logout .wp-menu-image:before,
.menu-top.toplevel_page_business_tools .wp-menu-image:before,
.menu-top.toplevel_page_jetpack .wp-menu-image:before,
.menu-icon-feedback .wp-menu-image:before,
.menu-top.toplevel_page_wpcf7 .wp-menu-image:before,
.menu-top.toplevel_page_newsletter .wp-menu-image:before,
.menu-top.toplevel_page_nrelate-main .wp-menu-image:before,
.menu-top.toplevel_page_wdfb .wp-menu-image:before,
.menu-icon-forum .wp-menu-image:before,
.menu-icon-topic .wp-menu-image:before,
.menu-icon-reply .wp-menu-image:before,
#menu-posts-download .wp-menu-image:before,
.menu-top.toplevel_page_sam-list .wp-menu-image:before,
.menu-top.toplevel_page_wpseo_dashboard .wp-menu-image:before,
.menu-top.toplevel_page_Wordfence .wp-menu-image:before,
#toplevel_page_edit-post_type-acf .wp-menu-image:before {
  margin-right: 5px;
  font-family: 'Elusive-Icons';
  font-size: 16px;
}
.menu-icon-dashboard .wp-menu-image img,
.menu-icon-post .wp-menu-image img,
.menu-icon-page .wp-menu-image img,
.menu-icon-media .wp-menu-image img,
.menu-icon-links .wp-menu-image img,
.menu-icon-comments .wp-menu-image img,
.menu-icon-appearance .wp-menu-image img,
.menu-icon-plugins .wp-menu-image img,
.menu-icon-users .wp-menu-image img,
.menu-icon-tools .wp-menu-image img,
.menu-icon-settings .wp-menu-image img,
.menu-icon-product .wp-menu-image img,
.menu-top.toplevel_page_wpmudev .wp-menu-image img,
.menu-top.toplevel_page_incsub_support .wp-menu-image img,
.menu-icon-site .wp-menu-image img,
.menu-top.toplevel_page_psts-checkout .wp-menu-image img,
.menu-top.toplevel_page_cp_main .wp-menu-image img,
.menu-top.toplevel_page_mp_st .wp-menu-image img,
.menu-top.toplevel_page_customize .wp-menu-image img,
.menu-top.toplevel_page_tools .wp-menu-image img,
.menu-top.toplevel_page_logout .wp-menu-image img,
.menu-top.toplevel_page_business_tools .wp-menu-image img,
.menu-top.toplevel_page_jetpack .wp-menu-image img,
.menu-icon-feedback .wp-menu-image img,
.menu-top.toplevel_page_wpcf7 .wp-menu-image img,
.menu-top.toplevel_page_newsletter .wp-menu-image img,
.menu-top.toplevel_page_nrelate-main .wp-menu-image img,
.menu-top.toplevel_page_wdfb .wp-menu-image img,
.menu-icon-forum .wp-menu-image img,
.menu-icon-topic .wp-menu-image img,
.menu-icon-reply .wp-menu-image img,
#menu-posts-download .wp-menu-image img,
.menu-top.toplevel_page_sam-list .wp-menu-image img,
.menu-top.toplevel_page_wpseo_dashboard .wp-menu-image img,
.menu-top.toplevel_page_Wordfence .wp-menu-image img,
#toplevel_page_edit-post_type-acf .wp-menu-image img {
  display: none;
}
.menu-icon-dashboard div.wp-menu-name,
.menu-icon-post div.wp-menu-name,
.menu-icon-page div.wp-menu-name,
.menu-icon-media div.wp-menu-name,
.menu-icon-links div.wp-menu-name,
.menu-icon-comments div.wp-menu-name,
.menu-icon-appearance div.wp-menu-name,
.menu-icon-plugins div.wp-menu-name,
.menu-icon-users div.wp-menu-name,
.menu-icon-tools div.wp-menu-name,
.menu-icon-settings div.wp-menu-name,
.menu-icon-product div.wp-menu-name,
.menu-top.toplevel_page_wpmudev div.wp-menu-name,
.menu-top.toplevel_page_incsub_support div.wp-menu-name,
.menu-icon-site div.wp-menu-name,
.menu-top.toplevel_page_psts-checkout div.wp-menu-name,
.menu-top.toplevel_page_cp_main div.wp-menu-name,
.menu-top.toplevel_page_mp_st div.wp-menu-name,
.menu-top.toplevel_page_customize div.wp-menu-name,
.menu-top.toplevel_page_tools div.wp-menu-name,
.menu-top.toplevel_page_logout div.wp-menu-name,
.menu-top.toplevel_page_business_tools div.wp-menu-name,
.menu-top.toplevel_page_jetpack div.wp-menu-name,
.menu-icon-feedback div.wp-menu-name,
.menu-top.toplevel_page_wpcf7 div.wp-menu-name,
.menu-top.toplevel_page_newsletter div.wp-menu-name,
.menu-top.toplevel_page_nrelate-main div.wp-menu-name,
.menu-top.toplevel_page_wdfb div.wp-menu-name,
.menu-icon-forum div.wp-menu-name,
.menu-icon-topic div.wp-menu-name,
.menu-icon-reply div.wp-menu-name,
#menu-posts-download div.wp-menu-name,
.menu-top.toplevel_page_sam-list div.wp-menu-name,
.menu-top.toplevel_page_wpseo_dashboard div.wp-menu-name,
.menu-top.toplevel_page_Wordfence div.wp-menu-name,
#toplevel_page_edit-post_type-acf div.wp-menu-name {
  padding-left: 30px !important;
}
#adminmenuwrap #adminmenu .menu-icon-feedback div.wp-menu-image {
  background: none !important;
  background-image: none !important;
}
.folded h3.popover-title {
  height: 20px;
}
.folded .wp-submenu-head {
  position: absolute;
  top: 10px;
  left: 30px;
}
ul.radio_list {
  padding-left: 18px !important;
}
.label,
.badge {
  background: none;
  padding: 0;
  white-space: normal;
}
.menu-icon-dashboard .wp-menu-image:before {
  content: "\e09e";
}
.menu-icon-post .wp-menu-image:before {
  content: "\e068";
}
.menu-icon-page .wp-menu-image:before {
  content: "\e0bd";
}
.menu-icon-media .wp-menu-image:before {
  content: "\e060";
}
.menu-icon-links .wp-menu-image:before {
  content: "\e02f";
}
.menu-icon-comments .wp-menu-image:before {
  content: "\e106";
}
.menu-icon-appearance .wp-menu-image:before {
  content: "\e09d";
}
.menu-icon-plugins .wp-menu-image:before {
  content: "\e07c";
}
.menu-icon-users .wp-menu-image:before {
  content: "\e013";
}
.menu-icon-tools .wp-menu-image:before {
  content: "\e004";
}
.menu-icon-settings .wp-menu-image:before {
  content: "\e109";
}
.menu-icon-product .wp-menu-image:before {
  content: "\e03a";
}
.menu-top.toplevel_page_wpmudev .wp-menu-image:before {
  content: "\e10d";
}
.menu-top.toplevel_page_incsub_support .wp-menu-image:before {
  content: "\e055";
}
.menu-icon-site .wp-menu-image:before {
  content: "\e022";
}
.menu-top.toplevel_page_psts-checkout .wp-menu-image:before {
  content: "\e0b0";
}
.menu-top.toplevel_page_cp_main .wp-menu-image:before {
  content: "\e0e8";
}
.menu-top.toplevel_page_mp_st .wp-menu-image:before {
  content: "\e038";
}
.menu-top.toplevel_page_customize .wp-menu-image:before {
  content: "\e01d";
}
.menu-top.toplevel_page_tools .wp-menu-image:before {
  content: "\e0fd";
}
.menu-top.toplevel_page_logout .wp-menu-image:before {
  content: "\e02c";
}
.menu-top.toplevel_page_business_tools .wp-menu-image:before {
  content: "\e07a";
}
.menu-top.toplevel_page_jetpack .wp-menu-image:before {
  content: "\e023";
}
.menu-icon-feedback .wp-menu-image:before {
  content: "\e03c";
}
.menu-top.toplevel_page_wpcf7 .wp-menu-image:before {
  content: "\e0ea";
}
.menu-top.toplevel_page_newsletter .wp-menu-image:before {
  content: "\e0eb";
}
.menu-top.toplevel_page_nrelate-main .wp-menu-image:before {
  content: "\e052";
}
.menu-top.toplevel_page_wdfb .wp-menu-image:before {
  content: "\e09c";
}
.menu-icon-forum .wp-menu-image:before {
  content: "\e090";
}
.menu-icon-topic .wp-menu-image:before {
  content: "\e0a3";
}
.menu-icon-reply .wp-menu-image:before {
  content: "\e03b";
}
#menu-posts-download .wp-menu-image:before {
  content: "\e0c9";
}
.menu-top.toplevel_page_sam-list .wp-menu-image:before {
  content: "\e0fb";
}
.menu-top.toplevel_page_wpseo_dashboard .wp-menu-image:before {
  content: "\e003";
}
.menu-top.toplevel_page_Wordfence .wp-menu-image:before {
  content: "\e085";
}
.menu-top#toplevel_page_edit-post_type-acf .wp-menu-image:before {
  content: "\e07f";
}
